html {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}


ul,li {
  list-style: none;
}

i{font-style:normal;}
.theme-fontColor {
  color:#F08802;
}

.theme-bgColor {
  background-color:#F08802;
}
.most-use-fontColor {
  color:rgba(0,0,0,0.54);
}

.fontSize-14 {
  font-size: 14px;
}
.fontSize-38 {
  font-size: 38px;
}
.text-center {
  text-align:center;
}

.line-height-22 {
  line-height: 22px;
}
.line-height-32 {
  line-height: 32px;
}
.border-1px-themeColor{
  border:1px solid #F08802;
}
.line-height-46 {
  line-height: 46px;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-pack-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-pack-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
